<h1>___Doctor View___</h1>

<!--  ___doctor cards___ -->
<div class="row container">
  <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="(key, val) in doctors">
      <h4>{{val.last_name}}, {{val.first_name}}</h4>
      <p>{{val.speciality}}</p>
      <input type='button' ng-model="selected" ng-click="showPatients({{key}})" value='View Patients' />

  </div>
</div>
<hr />

<!-- ___reveal patients___ -->
<div class="container" ng-repeat="patient in patients">
  <div ng-if="'{{patient.doctor_id}}' === '{{selectedDoc}}'">
  <!-- <div ng-if="'x' === 'x'"> -->
    <h5>{{patient.first_name}}</h5>
    <p>{{patient.doctor_id}}</p>
  <div>
</div>
